[Unit]
Description=Manage PI-hole by updating both the program and Gravity

[Timer]
Unit=pihole-update-gravity.service
OnCalendar=*-*-* 04:15
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target