[Unit]
Description=Manage PI-hole by updating both the program and Gravity

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pihole-manager update --firmware