# Thie idea was to not have a sperate timer for flushing
# the Pi-hole logs. However, that would require the script
# to not be simple.

# Keep it simple stupid.

# Just note that if Pi-hole is installed on a Rasbarry Pi this could
# cuase the SDcard to fail sooner. So only use if you have a backup
# of the system.
[Unit]
Description=Flush Pihole log

[Timer]
Unit=pihole-flush.service
OnCalendar=Sun 10:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target